REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_DEFAULT_STORE_NAME="Jassi General Store"
REACT_APP_ENABLE_REEL_PRODUCT_IMPORT=false
REACT_APP_RAZORPAY_KEY_ID=
GENERATE_SOURCEMAP=false
BROWSER=none
